@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

.home-page-title {
    color: white;
    font-family: "Geist", serif;
    text-shadow: 4px 3px 2px rgba(255,92,92,0.38);
    overflow: hidden;
}