.navbar ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar img {
    display: flex;
    flex-direction: row;
    width: 30px;
}

.navbar a,
.navbar-settings-btn {
    text-decoration: none;
    font-size: 16px;
    color: #007BFF;
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease;
}

.navbar-settings-btn {
    line-height: 1.5;
}

.navbar-settings-btn:focus {
    outline: none;
}

.navbar a:hover,
.navbar-settings-btn:hover {
    color: #66AFFF;
}