.card, .registration-card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 17px 17px 17px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 30px;
}

.card:hover, .registration-card:hover {
    transform: translateY(-10px);
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card h3, .registration-card h3 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.registration-card p {
    font-family: 'Georgia', serif;
    font-size: 14px;
    margin-bottom: 10px; 
    line-height: 1.5;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
    user-drag: none;
    pointer-events: none;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-info p {
    font-size: 1rem;
    margin: 0;
}

.rating {
    color: #888;
}

.price {
    font-weight: bold;
}

.see-more-btn, .sign-up-btn, .sign-in-btn, .back-btn {
    background-color: #FF5C5C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    max-width: 270px;
    margin: auto;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover, .sign-up-btn:hover, .sign-in-btn:hover, .back-btn:hover {
    background-color: #FF3B3B;
}

@media (prefers-color-scheme: dark) {
    .card {
        color: #213547;
        background-color: #ffffff;
    }
}

@media (max-width: 600px) {
    .card {
        width: 250px; 
        padding: 12px; 
        margin: 5px; 
        margin-bottom: 20px;
    }

    .card h3 {
        font-size: 1.1rem;
    }

    .card-info {
        flex-direction: column; 
        align-items: flex-start;
    }

    .card-info p {
        font-size: 0.9rem; 
        margin-bottom: 5px; 
    }

    .see-more-btn {
        font-size: 0.9rem; 
        padding: 8px; 
    }

    .card-image {
        border-radius: 8px; 
    }
}