.card {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-info p {
    font-size: 1rem;
    margin: 0;
}

.rating {
    color: #888;
}

.price {
    font-weight: bold;
}

.see-more-btn {
    background-color: #FF5C5C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover {
    background-color: #FF3B3B;
}

@media (prefers-color-scheme: dark) {
    .card {
        color: #213547;
        background-color: #ffffff;
    }
}