.sign-up-page {
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.sign-up-header {
    margin: auto;
}

.sign-up-page p {
    margin: 0;
    padding: 0 0 10px;
    color: red;
}

.sign-up-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    align-items: center;
}

.media-match-logo img {
    width: 90%;
    max-width: 500px;
}

.sign-up-page input {
    margin: 7px 0px 14px 0px;
}

.sign-up-page input,
button {
    width: 90%;
    padding: 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.sign-up-page div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sign-up-page label {
    font-weight: 600;
    margin: 7px 0px 14px 0px;
}

.sign-up-page button {
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background: #00a0df;
    margin: 21px 0px 0px 0px;
}

.sign-up-page a {
    border: none;
    font-size: 14px;
    background: none;
    font-weight: 500;
    margin-top: 14px;
    text-align: center;
    color: rgb(200, 200, 200);
}

input:focus {
    outline: none;
    border: 1px solid #00a0df;
}

@media (prefers-color-scheme: dark) {
    .sign-up-header {
      color: #213547;
      background-color: #ffffff;
    }
}

@media only screen and (max-width: 912px) {
    .sign-up-row {
      width: 100%;
      justify-content: flex-start;
    }

    .sign-up-form {
      min-width: 100%;
    }
}