.sign-up-page {
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}

.sign-up-header {
    margin: auto;
}

.sign-up-page p {
    margin: 0;
    padding: 0 0 10px;
    color: red;
}

.sign-up-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    align-items: center;
}

.media-match-logo img {
    width: 90%;
    max-width: 500px;
}

.sign-up-page input {
    margin: 7px 0px 14px 0px;
}

.sign-up-page input,
button {
    width: 90%;
    padding: 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

.sign-up-page div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sign-up-page label {
    font-weight: 600;
    text-align: left;
}

.sign-up-page button {
    background-color: #FF5C5C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.sign-up-page button:hover {
    background-color: #FF3B3B;
}

.sign-up-page button:disabled:hover {
    background-color: #FF5C5C;
    cursor: not-allowed
}

.sign-up-page a {
    border: none;
    font-size: 14px;
    background: none;
    font-weight: 500;
    margin-top: 14px;
    text-align: center;
    color: rgb(200, 200, 200);
}

input:focus {
    outline: none;
    border: 1px solid #00a0df;
}

@media (prefers-color-scheme: dark) {
    .sign-up-header {
      color: #213547;
      background-color: #ffffff;
    }
}

@media (max-width: 768px) {
    .sign-up-page {
      padding: 20px;
    }
    .sign-up-header {
      font-size: 40px; 
    }
    .sign-up-row {
      justify-content: flex-start;
    }

    .sign-up-page input, button {
      font-size: 16px;
    }

    .sign-up-form {
      min-width: 100%;
    }
}